@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

li{
  list-style: none;
}

/* loader keyfram */
@keyframes loader {
  0%, 100% { width: 0%; left: 0; right: auto; }
  50% { width: 100%; }
}

.animate-loader {
  animation: loader 1s ease-in-out infinite;
}


/* From Uiverse.io by andrew-manzyk */ 
.loader {
  --cloud-color: #f28b00;
  --arrows-color: #ff9307;
  --time-animation: 1s;
}

.loader #cloud {
  width: 50px;
  height: 50px;
}

.loader #cloud rect {
  fill: var(--cloud-color);
}

.loader #cloud g:nth-child(3) {
  transform-origin: 50% 72.8938%;
  fill: var(--arrows-color);
  animation: rotation var(--time-animation) linear infinite;
}

.loader #shapes g g circle {
  animation: cloud calc(var(--time-animation) * 2) linear infinite;
}

.loader #shapes g g circle:nth-child(2) {
  animation-delay: calc((var(--time-animation) * 2) / -3);
}

.loader #shapes g g circle:nth-child(3) {
  animation-delay: calc((var(--time-animation) * 2) / -1.5);
}

.loader svg #lines g line {
  stroke-width: 5;
  transform-origin: 50% 50%;
  rotate: -65deg;
  animation: lines calc(var(--time-animation) / 1.33) linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lines {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes cloud {
  0% {
    cx: 20;
    cy: 60;
    r: 15;
  }
  50% {
    cx: 50;
    cy: 45;
    r: 20;
  }
  100% {
    cx: 80;
    cy: 60;
    r: 15;
  }
}

/* end */


/* font */
.open-sans{
    font-family: "Open Sans", sans-serif;
}

.nunito{
    font-family: "Nunito", sans-serif;
}


/* banner */

.bannerone{
  background-image: url("../public/images/banner-narrow-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannertwo{
  background-image: url("../public/images/banner-narrow-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slideFade {
  animation: slideFade 0.25s ease-out forwards;
}
